
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <mat-card class="page-header-accent">
                <mat-card-content class="d-flex justify-content-between">
                    <h3>Agents</h3>
                    <div>
                        <mat-form-field>
                            <input matInput type="text" placeholder="Search Agents" (keyup)="searchAgents($event)" />
                            <i class="mdi mdi-magnify" matSuffix></i>
                        </mat-form-field>
                        <button type="button" class="mx-3" mat-icon-button (click)="toggleSortUsers()">
                            <mat-icon>sort_by_alpha</mat-icon>
                            <mat-icon>{{sortAscending ? 'arrow_drop_up' : 'arrow_drop_down'}}</mat-icon>
                        </button>
                        <mat-slide-toggle (change)="toggleAgents($event)" [checked]="false">
                            {{ showInactive ? 'Hide Inactive' : 'Show Inactive' }}
                        </mat-slide-toggle>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 py-2" *ngFor="let user of users | async">
            <div class="card hoverable">
                <div 
                    class="card-header text-white d-flex align-items-end justify-content-between" 
                    [ngClass]="{'bg-vs-primary': user.agent.isActive, 'bg-vs-muted': !user.agent.isActive}"
                >
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <button mat-button class="nav-link" [class.active]="user.display === 0" (click)="user.display = 0">Summary</button>
                        </li>
                        <li class="nav-item" *ngIf="user.detail != null">
                            <button mat-button class="nav-link" [class.active]="user.display === 1" (click)="user.display = 1">Detail</button>
                        </li>
                        <li class="nav-item">
                            <button mat-button class="nav-link" [class.active]="user.display === 2" (click)="user.display = 2">Sales</button>
                        </li>
                    </ul>
                    <div style="min-height:40px;">
                        <button class="p-0 hover-item"
                            type="button" mat-icon-button 
                            [matMenuTriggerFor]="agentMenu"
                            *ngIf="user.agent.isActive"
                        >
                            <i class="mdi mdi-dots-vertical-circle-outline"></i>
                        </button>
                        <mat-menu #agentMenu="matMenu">
                            <button mat-menu-item (click)="showEditRulesDialog(user)">
                                <mat-icon>vpn_key</mat-icon>
                                <span>Rules</span>
                            </button>
                            <button mat-menu-item (click)="editAgent(user)">
                                <mat-icon>edit</mat-icon>
                                <span>Edit</span> 
                            </button>
                        </mat-menu>
                    </div>
                </div>
                <div class="card-body" [class.card-body-auto]="user.display === 2">
                    <ng-container *ngIf="user.display === 0">
                        <div class="d-flex flex-column justify-content-center align-items-center" style="width:100%;height:100%;">
                            <h3 class="card-title" [class.text-muted]="!user.agent.isActive">
                                {{user.firstName}} {{user.lastName}} <small *ngIf="!user.agent.isActive">(Inactive)</small>
                            </h3>
                            <div class="d-flex align-items-center text-muted">
                                <i class="material-icons">account_box</i>
                                {{user.username}}
                            </div>
                            <div class="card-text" *ngIf="user.detail">Birthdate: {{user.detail.birthDate | date:'shortDate'}}</div>
                            <div class="card-text">Anniversary: {{ user.createdAt | date:'shortDate' }}</div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="user.display === 1">
                        <p class="font-weight-light font-italic text-muted">{{user.firstName}} {{user.lastName}}</p>
                        <p *ngIf="user.detail.street == null && user.detail.phone == null">
                            <button type="button" class="btn btn-link" (click)="editAgent(user)">
                                Add Details
                            </button>
                        </p>
                        <div *ngIf="user.detail && user.detail.street != null">
                            <span class="font-weight-bold">Address: </span>
                            <address class="font-weight-light">
                                {{user.detail.street}}
                                {{user.detail.street2}}
                                {{user.detail.city}} {{user.detail.state}} {{user.detail.zip}}
                            </address>
                        </div>
                        <div *ngIf="user.detail && user.detail.phone != null">
                            <span class="font-weight-bold">Phone: </span>
                            <span class="font-weight-light">{{user.detail.phone | phone}}</span>
                        </div>
                        <div *ngIf="user.detail && user.detail.ssn != null && user.detail.ssn > 0">
                            <span class="font-weight-bold">SSN: </span>
                            <span class="font-weight-light">{{replaceCharAt(user.detail.ssn, 0, 4, 'X')}}</span>
                        </div>
                        <div *ngIf="user.detail && user.detail.bankRouting">
                            <span class="font-weight-bold">Routing: </span>
                            <span class="font-weight-light">{{user.detail.bankRouting}}</span>
                        </div>
                        <div *ngIf="user.detail && user.detail.bankAccount">
                            <span class="font-weight-bold">Account: </span>
                            <span class="font-weight-light">{{user.detail.bankAccount}}</span>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="user.display === 2" [formGroup]="user.pairingsForm">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <p class="font-weight-light font-italic text-muted">
                                {{user.firstName}} {{user.lastName}}
                            </p>
                            <button type="button" 
                                mat-button 
                                class="float-right" 
                                (click)="addEmptyPairing(user.pairingsForm.controls['array'], user.agent.pairings)"
                                [disabled]="disableAddPairingBtn"
                                *ngIf="user.agent.isActive"
                            >
                                <mat-icon>add</mat-icon> Pairing
                            </button>
                        </div>
                        
                        <div formArrayName="array" *ngIf="user.agent.pairings.length; else noPairings">
                            <mat-card *ngFor="let pairing of user.agent.pairings; let i=index">
                                <mat-card-content [formGroupName]="i" class="mb-0">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <mat-form-field class="wp-100">
                                                <mat-select placeholder="Campaign" formControlName="campaignId" required>
                                                    <mat-option *ngFor="let campaign of campaigns" [value]="campaign.campaignId">
                                                        {{campaign.name}}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-error *ngIf="user.pairingsForm.controls['array'].controls[i].hasError('required')">
                                                    Please select a campaign.
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4 d-flex">
                                            <mat-form-field class="wp-100 flex-grow-1">
                                                <input matInput type="text" placeholder="Code" formControlName="salesId" required #pairingRows />
                                                <mat-error *ngIf="user.pairingsForm.controls['array'].controls[i].hasError('required')">
                                                    Please enter a sales ID.
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="col-md-4">
                                            <mat-form-field class="wp-100">
                                                <input type="text" matInput placeholder="Commission" formControlName="commission" 
                                                    (ngModelChange)="updateCommission(user, $event, i)" />
                                                <mat-icon matSuffix
                                                    color="primary"
                                                    class="clickable"
                                                    *ngIf="user.pairingsForm.controls['array'].controls[i].value.salesPairingsId > 0 && user.pairingsForm.controls['array'].controls[i].dirty"
                                                    (click)="savePairingUpdate(user.pairingsForm.controls['array'].controls[i], user)"
                                                >save</mat-icon>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </mat-card-content>
                                <mat-card-actions class="d-flex" *ngIf="pairing.salesPairingsId == null || pairing.salesPairingsId < 1">
                                    <button type="button" mat-button 
                                        *ngIf="user.pairingsForm.controls['array'].controls[i].touched" 
                                        (click)="cancelNewPairing(user.pairingsForm.controls['array'].controls[i], user, i)"
                                    >
                                        <mat-icon>clear</mat-icon> Cancel
                                    </button>
                                    <button type="button" mat-button color="primary" 
                                        [disabled]="user.pairingsForm.invalid" 
                                        (click)="saveNewPairing(user.pairingsForm.controls['array'].controls[i], user)"
                                    >
                                        <mat-icon>save</mat-icon> Save
                                    </button>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                        <ng-template #noPairings>
                            <h5 class="text-muted" *ngIf="user.agent.isActive">
                                Click the <span class="font-italic">+ Pairings</span> button to get started.
                            </h5>
                        </ng-template>
                    </ng-container>
                </div>
            </div>
        </div>
        <ng-container *ngIf="(users|async) == null">
            <div class="col-md-12">
                <h3 class="font-italic text-muted text-center">You do not have any agents assigned to you.</h3>
            </div>
        </ng-container>
    </div>
</div>


<vs-float-button
    *ngIf="user?.role?.role > 5"
    mat-icon="add"
    (callback)="showAddAgent()"
    [isOpen]="floatOpen$"
></vs-float-button>