
<div class="container">
    <div class="row mb-4">
        <div class="col-md-12">
            <mat-card class="page-header-accent">
                <mat-card-content class="d-flex justify-content-between">
                    <h3>
                        <span>Pay Runs</span>
                    </h3>
                    <div>
                        <button type="button" mat-stroked-button color="primary" (click)="addPayCycle()">
                            <mat-icon inline="true">add</mat-icon>
                            <span>Payroll</span>
                        </button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <!-- DUE FOR RELEASE -->
    <div class="row" cdkDropListGroup>
        <div class="col-md-4" *ngIf="todoCycles">
            <mat-card class="border-top-primary">
                <mat-card-title class="d-flex justify-content-center mb-3 pb-2 border-bottom">
                    <mat-icon class="mr-2">autorenew</mat-icon>
                    <span>In Progress</span>
                </mat-card-title>
                <mat-card-content>
                    <div class="list-group" cdkDropList #todoList="cdkDropList" [cdkDropListData]="todoCycles"
                        (cdkDropListDropped)="drop($event, 0)">
                        <div *ngFor="let cycle of todoCycles as cycles" class="list-group-item list-group-item-action" cdkDrag>
                            <!-- list group item heading -->
                            <div class="d-flex w-100 justify-content-between align-items-center">
                                <h5 class="mb-1">
                                    {{ cycle.isPending ? 'Pending' : 'Not Started' }}
                                    <small class="text-muted font-weight-normal"> Run #: {{ cycle.payCycleId }}</small>
                                </h5>
                                <button type="button" mat-icon-button (click)="editPayCycle(cycle)">
                                    <mat-icon>launch</mat-icon>
                                </button>
                            </div>
                            <p class="mb-1">From: {{ cycle.startDate | date:'shortDate' }}</p>
                            <p class="mb-1">To: {{ cycle.endDate | date:'shortDate' }}</p>
                            <div class="d-flex w-100" [class.justify-content-between]="cycle.payrolls?.length"
                                [class.justify-content-end]="!cycle.payrolls?.length">
                                <small *ngIf="cycle?.payrolls?.length">
                                    {{ cycle.payrolls.length }} Paychecks
                                </small>
                                <small>{{ getHumanReadableDuration(cycle) }}</small>
                            </div>
                        </div>
                    </div>
                    <!-- <ng-template #noTodoCycles>
                        <h5 class="text-muted font-italic">Click "+ Payroll" to Start.</h5>
                    </ng-template> -->
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col-md-4" *ngIf="lockedCycles">
            <mat-card class="border-top-secondary">
                <mat-card-title class="d-flex justify-content-center pb-2 mb-3 border-bottom">
                    <mat-icon class="mr-2">lock</mat-icon>
                    <span>Locked</span>
                </mat-card-title>
                <mat-card-content>
                    <div class="list-group" cdkDropList #lockedList="cdkDropList" [cdkDropListData]="lockedCycles"
                        (cdkDropListDropped)="drop($event, 1)">
                        <a *ngFor="let cycle of lockedCycles as cycles" [routerLink]="" 
                            class="list-group-item list-group-item-action" cdkDrag>
                            <!-- list group item heading -->
                            <div class="d-flex justify-content-between align-items-center">
                                <h5 class="mb-1">
                                    Locked
                                    <small class="text-muted font-weight-normal"> Run #: {{ cycle.payCycleId }}</small>
                                </h5>
                                <button type="button" mat-icon-button>
                                    <mat-icon>locked</mat-icon>
                                </button>
                            </div>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <p class="mb-1">From: {{ cycle.startDate | date:'shortDate' }}</p>
                                    <p class="mb-1">To: {{ cycle.endDate | date:'shortDate' }}</p>
                                    <small *ngIf="cycle.payrolls?.length">
                                        {{ cycle.payrolls.length }} Paychecks
                                    </small>
                                </div>
                                <div class="d-flex flex-column justify-content-end">
                                    <button type="button" mat-stroked-button color="primary" class="p-0" 
                                        (click)="processPayroll(cycle)" *ngIf="user?.role.role > 5">
                                        Process
                                    </button>
                                    <small>{{ getHumanReadableDuration(cycle) }}</small>
                                </div>
                            </div>
                        </a>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <div class="col-md-4" *ngIf="closedCycles">
            <mat-card class="border-top-dark">
                <mat-card-title class="d-flex justify-content-center mb-3 pb-2 border-bottom">
                    <mat-icon class="mr-2">done_all</mat-icon>
                    <span>Completed</span>
                </mat-card-title>
                <mat-card-content>
                    <div class="list-group" *ngIf="closedCycles.length; else noClosedCycles">
                        <ng-container *ngFor="let cycle of closedCycles as cycles">
                            <div class="list-group-item list-group-item-action">
                                <!-- list group item heading -->
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">
                                        Closed
                                        <small class="text-muted font-weight-normal"> Run #: {{ cycle.payCycleId }}</small>
                                    </h5>
                                    <mat-icon>check_circle</mat-icon>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <p class="mb-1">From: {{ cycle.startDate | date:'shortDate' }}</p>
                                        <p class="mb-1">To: {{ cycle.endDate | date:'shortDate' }}</p>
                                        <small *ngIf="cycle.payrolls?.length">
                                            {{ cycle.payrolls.length }} Paychecks
                                        </small>
                                    </div>
                                    <div class="d-flex flex-column justify-content-end">
                                        <button type="button" mat-button color="warn" class="p-0" 
                                            (click)="reopenPayroll(cycle)" *ngIf="user?.role.role > 6">
                                            Open
                                        </button>
                                        <small>{{ getHumanReadableDuration(cycle) }}</small>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                    <ng-template #noClosedCycles>
                        <div class="d-flex w-100 justify-content-center">
                            <h5 class="text-muted font-italic">No Closed Runs</h5>
                        </div>
                    </ng-template>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    
</div>