<div class="modal-header">
    <h3 class="modal-title">Add Sale Status</h3>
    <span class="clickable float-right">
        <i class="material-icons" (click)="onNoClick()">clear</i>
    </span>
</div>
<div class="modal-body">
    <form [formGroup]="form">
        <mat-form-field class="wp-100" [hideRequiredMarker]="true">
        <input matInput placeholder="Status Description" formControlName="name" required />
        </mat-form-field>
    </form>
    <div class="float-right">
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button mat-raised-button [mat-dialog-close]="form.value" color="primary" [disabled]="form.invalid || form.pristine">Save</button>
    </div>
</div>

