
<div class="modal-header">
    <h3 class="modal-title">Add a Campaign</h3>
    <button type="button" mat-icon-button (click)="onNoClick()" tabindex="-1">
        <mat-icon>clear</mat-icon>
    </button>
</div>
<div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="saveCampaign()">
        <div class="row">
            <div class="col-md-5">
                <mat-form-field>
                    <input type="text" matInput placeholder="Name" formControlName="name" />
                    <mat-error *ngIf="form.get('name').hasError('required')">
                        Please enter a name.
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-7 d-flex align-items-center">
                <mat-checkbox hidden formControlName="active">Active</mat-checkbox>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <mat-form-field>
                    <span matPrefix>$ &nbsp;</span>
                    <input matInput type="text" placeholder="Compensation" formControlName="compensation" />
                    <mat-error *ngIf="form.get('compensation').hasError('pattern')">
                        Please enter numbers only.
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        
        <div class="row mb-4">
            <div class="col-md-12">
                <mat-accordion>
                    <mat-expansion-panel expanded="true">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Detail and Info
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <p class="font-italic text-muted">
                            This is some brief information that describes the campaign and gives pertinent information to employees.
                        </p>
                        <quill-editor 
                            [style]="{height: '200px'}" 
                            formControlName="mdDetails" 
                            (onContentChanged)="quillContentChanged($event)"
                            [modules]="modules"
                        ></quill-editor>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                How we get started
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <p class="font-italic text-muted">
                            Onboarding. No problem. Let's tell the employees how to get it done. 
                        </p>
                        <quill-editor 
                            [style]="{height: '200px'}" 
                            formControlName="mdOnboarding" 
                            (onContentChanged)="quillContentChanged($event)"
                            [modules]="modules"
                        ></quill-editor>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Additional Info
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <p class="font-italic text-muted">
                            Is there additional information you need to share about this campaign? (Restrictions, permit necessities, etc)
                        </p>
                        <quill-editor 
                            [style]="{height: '200px'}" 
                            formControlName="mdOther" 
                            (onContentChanged)="quillContentChanged($event)"
                            [modules]="modules"
                        ></quill-editor>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </form>
    <div class="float-right">
        <button mat-button type="button" (click)="cancel()">Cancel</button>
        <button mat-button color="primary" (click)="saveCampaign()">Save</button>
    </div>
</div>