/node_modules
/public/hot
/public/storage
/storage/app/**
/storage/logs/**
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
package-lock.json
**/node_modules
/storage/google-services.json
