
<mat-sidenav-container *ngIf="(loggedInStatus | async); let loggedIn; else loggedOut;">
  <mat-sidenav #navigation mode="side" class="sidenav" autoFocus="false">
    <side-nav></side-nav>
  </mat-sidenav>
  <mat-sidenav-content scrollLock class="pb-4">
    <ngx-loading [show]="(loading | async)"></ngx-loading>
    <app-header></app-header>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<ng-template #loggedOut>
  <div scrollLock [trapScroll]="(loading | async)">
    <ngx-loading [show]="(loading | async)"></ngx-loading>
    <app-header></app-header>
    <router-outlet></router-outlet>
  </div>
</ng-template>
