<mat-sidenav-container *ngIf="_loggedIn; else loggedOut;">
    <mat-sidenav #navigation mode="side" class="sidenav" autoFocus="false">
        <side-nav></side-nav>
    </mat-sidenav>
    <!-- <mat-sidenav-content scrollLock [trapScroll]="_loading" class="pb-4"> -->
    <mat-sidenav-content class="pb-4">
        <ngx-loading [show]="_loading"></ngx-loading>
        <app-header></app-header>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
<ng-template #loggedOut>
    <!-- <div scrollLock [trapScroll]="_loading"> -->
    <div>
        <ngx-loading [show]="_loading"></ngx-loading>
        <app-header></app-header>
        <router-outlet></router-outlet>
    </div>
</ng-template>