
<mat-sidenav-container *ngIf="(loggedInStatus | async); let loggedIn; else loggedOut;">
  <mat-sidenav #sidenav mode="over" class="sidenav">
    <side-nav [sidenav]="sidenav"></side-nav>
  </mat-sidenav>
  <mat-sidenav-content scrollLock [trapScroll]="(loading | async)" class="pb-4">
    <ngx-loading [show]="(loading | async)"></ngx-loading>
    <app-header [sidenav]="sidenav"></app-header>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<ng-template #loggedOut>
  <div scrollLock [trapScroll]="(loading | async)">
    <ngx-loading [show]="(loading | async)"></ngx-loading>
    <app-header></app-header>
    <router-outlet></router-outlet>
  </div>
</ng-template>


