
.sales-card {
  width: 100%;
  max-width: 1150px;
}

.widthp-50 {
  width: 50%;
}

.desktop-only {
  @media screen and (max-width: 750px) {
    display: none;
  }
}

.mobile-warning {

  @media screen and (min-width: 751px) {
    display: none !important;
  }

  & mat-card {
    max-width: 95%;
  }
}

.max-width-90 {
  max-width: 90px !important;
}

.form-table {

  mat-cell {
    margin: 0 1rem 0 0;
  }

  mat-form-field:not(.custom-width) {
    width: 100%;
  }
}

.custom-width {
  .w-100 {
    width: 100px !important;
  }

  .w-40 {
    width: 40px !important;
  }

  .w-140 {
    width: 140px !important;
  }
}

.mat-header-row {
  border-bottom-style: solid;
}

.mat-header-cell {
  margin-right: 1rem;
}

.mat-row {
  border-bottom-style: none;
}

.mat-column-note {
  flex: 0 0 40px;
  margin: 0 !important;
}

.clickable {
  cursor: pointer;
}

.mat-column-agentId {
  max-width: 200px;
}

.mat-column-commission {
  max-width: 80px;
}

.mat-column-sales {
  max-width: 75px;
}

.mat-column-total {
  max-width: 80px;
}

.mat-column-delete {
  max-width: 30px;
  margin: 0 !important;
}

.required-field-error {
  background-color: red;
}

.overrides-expenses-panel {
  max-width: 1150px;
  margin: 0 auto;
}

.toolbar-icon {
  padding: 0 1.5rem;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.align-center {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
}

.sales-table {
  max-height: 400px;
  overflow: auto;
}
