
<div mat-dialog-title class="d-flex justify-content-between">
  <h4>Import Model</h4>
  <button type="button" mat-icon-button (click)="onNoClick()">
    <mat-icon>clear</mat-icon>
  </button>
</div>
<mat-dialog-content class="pb-2">
  <form [formGroup]="form" class="mb-2">
    <mat-form-field>
        <input type="text" matInput formControlName="shortDesc" placeholder="Name" required />
        <mat-error *ngIf="form.get('shortDesc').hasError">
            Please enter a name.
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <textarea matAutosize="true" formControlName="fullDesc" placeholder="Description"></textarea>
    </mat-form-field>

    <mat-divider></mat-divider>

    <ng-container formGroupName="map">
        
    </ng-container>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="d-flex justify-content-end">
  <button type="button" mat-button (click)="onNoClick()">
    <mat-icon>clear</mat-icon>
    Cancel
  </button>
  <button type="button" mat-button (click)="saveImportModel()" color="primary">
    <mat-icon>save</mat-icon>
    Save
  </button>
</mat-dialog-actions>