
<div mat-dialog-title class="d-flex justify-content-between">
  <h4>Import Model</h4>
  <button type="button" mat-icon-button (click)="onNoClick()">
    <mat-icon>clear</mat-icon>
  </button>
</div>
<mat-dialog-content class="pb-2">
  <div class="mb-2">
    FORM GOES HERE.
  </div>
</mat-dialog-content>
<mat-dialog-actions class="d-flex justify-content-between">
  <button type="button" mat-button (click)="onNoClick()">
    <mat-icon>clear</mat-icon>
    Cancel
  </button>
  <button type="button" mat-button (click)="saveImportModel()" color="primary">
    <mat-icon>save</mat-icon>
    Save
  </button>
</mat-dialog-actions>