<div class="container">
    <div class="row">
        <div class="col-md-12">
            <mat-card class="page-header-accent">
                <h3 mat-card-title>Import Models</h3>
                <mat-card-content>
                    Create an Import Model to map the fields from a sales reporting spreadsheet or CSV to a sale in the
                    commission system.
                    In order to do so, add fields and type the exact column header description and then select from the
                    paired dropdown to
                    match it to the corresponding sale field in the commission system.
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <mat-table [dataSource]="importModels">
                <ng-container matColumnDef="detailView">
                    <mat-header-cell *matHeaderCellDef>&nbsp;</mat-header-cell>
                    <mat-cell *matCellDef="let item">
                        <button type="button" mat-icon-button class="text-muted" (click)="editImportModel(item)">
                            <mat-icon>remove_red_eye</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="isActive">
                    <mat-header-cell *matHeaderCellDef class="d-flex justify-content-center">Active</mat-header-cell>
                    <mat-cell *matCellDef="let item" class="d-flex justify-content-center">
                        <mat-checkbox [checked]="item.deletedAt == null" (change)="changeActiveStatus($event)">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>

                <ng-container matColumnDef="shortDesc">
                    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.shortDesc}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="modifiedBy">
                    <mat-header-cell *matHeaderCellDef>Owner</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.user?.firstName}} {{item.user?.lastName}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="createdAt">
                    <mat-header-cell *matHeaderCellDef>Created</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.createdAt | date:'shortDate'}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="updatedAt">
                    <mat-header-cell *matHeaderCellDef>Modified Last</mat-header-cell>
                    <mat-cell *matCellDef="let item">{{item.updatedAt | date:'shortDate'}}</mat-cell>
                </ng-container>

                <mat-header-row
                    *matHeaderRowDef="['detailView', 'isActive', 'shortDesc', 'modifiedBy', 'createdAt', 'updatedAt']">
                </mat-header-row>
                <mat-row
                    *matRowDef="let row; columns: ['detailView', 'isActive', 'shortDesc', 'modifiedBy', 'createdAt', 'updatedAt'];">
                </mat-row>
            </mat-table>
        </div>
    </div>
</div>

<vs-float-button mat-icon="add" color="accent" (callback)="addImportModel()" [isOpen]="isFabOpen$"></vs-float-button>