
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <mat-card class="page-header-accent">
                <h2 mat-card-title>Import Reports</h2>
                <mat-card-content>
                    <div class="shadow-none p-3 bg-light rounded">
                        <h5>Requirements</h5>
                        <ul>
                            <li>
                                Your CSV file should contain columns that match 
                                the <span class="font-weight-bold">Import Model</span> you select.
                            </li>
                            <li>
                                The order of the columns must match exactly the to your Import Model. If they 
                                do not, please reorder the columns on your report.
                            </li>
                            <li>
                                Confirm correct import in the review field after you've imported the file and make any 
                                last-minute modifications that you might notice.
                            </li>
                        </ul>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <vs-import-model-selection></vs-import-model-selection>

                            <div class="shadow-none p-3 pt-0 mb-2 rounded">
                                <p>Upload CSV file</p>
                                <div class="p-1">
                                    <input #fuRef class="d-none" mat-stroked-button color="primary" *ngIf="fu" type="file" ng2FileSelect [uploader]="fu" />
                                    <button type="button" mat-stroked-button color="primary" (click)="uploadFile()">Upload File</button>
                                </div>
                                <div class="p-1">
                                    <button type="button" mat-raised-button color="primary" (click)="importReport()">Import Report</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-10" [class.d-flex]="!hasFile" [class.justify-content-center]="!hasFile">
                            <div *ngIf="hasFile; else noPreview">
                                <span>PREVIEW GOES HERE...</span>
                            </div>
                            <ng-template #noPreview>
                                <div class="shadow-none p-3 mb-2 rounded">
                                    <div class="row d-flex justify-content-center">
                                        <div class="col-md-4">
                                            <img src="dist/assets/images/add_file.svg" class="img-fluid clickable m-5" 
                                                (click)="uploadFile()" />
                                            <p class="text-muted">
                                                Import preview will appear here.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                    </div>

                    <mat-accordion>
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Past Uploads
                                </mat-panel-title>
                            </mat-expansion-panel-header>

                            <vs-past-imports></vs-past-imports>
                        </mat-expansion-panel>
                    </mat-accordion>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>