
<div mat-dialog-title class="d-flex justify-content-between">
    <h3>
        {{ existingSale != null && existingSale.dailySaleId > 0 ? 'Edit Sale' : 'Add Sale' }}
    </h3>
    <button type="button" mat-icon-button (click)="onNoClick()">
        <mat-icon>clear</mat-icon>
    </button>
</div>
<mat-dialog-content *ngIf="!showEditContactForm">
    <p class="text-muted">
        All fields denoted with * are required.
    </p>
    <form [formGroup]="form" class="add-daily-sale-form">

        <!-- CAMPAIGN ROW -->
        <div class="row">
            <div class="col-md-6">
                <mat-form-field>
                    <!-- <input matInput placeholder="Campaign" [value]="selectedCampaign.name" /> -->
                    <mat-select placeholder="Campaign" formControlName="campaign" required>
                        <mat-option *ngFor="let c of campaigns" [value]="c.campaignId">
                            {{c.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.get('campaign').hasError('required') && (form.get('campaign').touched || submitted)">
                        Please select a campaign
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <ng-container *ngIf="form.get('campaign').value > 0">
                    <ng-container *ngLet="utilities|async as utils">
                        <mat-form-field *ngIf="utils != null && utils.length; else noUtilitiesMsg" class="w-100" @showField>
                            <mat-select placeholder="Utility" formControlName="utilityId" required>
                                <mat-option *ngFor="let u of utils" [value]="u?.utilityId">
                                    {{ u.utilityName }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="form.get('utilityId').hasError('required') && (form.get('utilityId').touched || submitted)">
                                Please select a utility
                            </mat-error>
                        </mat-form-field>
                        <ng-template #noUtilitiesMsg>
                            <p *ngIf="user.role.role > 5; else empRoleType">
                                Uh oh! It looks like you're missing utilities. This is required before you can save sales. Please
                                head over 
                                <button class="btn btn-link" (click)="navigateToUtilitySetup()">here</button>
                                to add your 
                                first utility for this campaign now.
                            </p>
                            <ng-template #empRoleType>
                                <p>
                                    It looks like your organization has not fully setup their campaigns. Please let your direct 
                                    supervisor know, so they can help you resolve this issue before you start completing sales 
                                    entries.
                                </p>
                            </ng-template>
                        </ng-template>
                    </ng-container>
                </ng-container>
            </div>
        </div>

        <!-- AGENT AND SALE DATE -->
        <div class="row">
            <div class="col-md-6">
                <mat-form-field>
                    <input matInput placeholder="Agent" formControlName="agent" [matAutocomplete]="agentAc" 
                        (keyup)="_filterAgents($event)" required />
                    <mat-autocomplete #agentAc="matAutocomplete" [displayWith]="displayAgentFn" autoActiveFirstOption>
                        <mat-option *ngFor="let a of agents$|async" [value]="a">
                            <mat-icon inline="true">person</mat-icon>
                            <span>{{a.firstName}} {{a.lastName}}</span>
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="(form.get('agent').hasError('required') || form.get('agent').hasError('nonExistent')) && (form.get('agent').touched || submitted)">
                        Please select an agent
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field>
                    <input matInput [matDatepicker]="saleDatePicker" placeholder="Sale Date" formControlName="saleDate"
                        required />
                    <mat-datepicker-toggle matSuffix [for]="saleDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #saleDatePicker></mat-datepicker>
                    <mat-error *ngIf="form.get('saleDate').hasError('required') && (form.get('saleDate').touched || submitted)">
                        Please select a sale date
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <mat-form-field>
                    <input matInput placeholder="POD/Account" formControlName="account" required />
                    <mat-error *ngIf="form.get('account').hasError('required') && (form.get('account').touched || submitted)">
                        Please enter a POD or Account No
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-4">
                <mat-form-field>
                    <mat-select placeholder="Sale Status" formControlName="status" required>
                        <mat-option *ngFor="let s of statuses" [value]="s.saleStatusId">
                            {{s.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.get('status').hasError('required') && (form.get('status').touched || submitted)">
                        Please select a status
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-4">
                <mat-form-field>
                    <mat-select placeholder="Paid Status" formControlName="paidStatus" required>
                        <mat-option value="0">Unpaid</mat-option>
                        <mat-option value="1">Paid</mat-option>
                        <mat-option value="2">Chargeback</mat-option>
                        <mat-option value="3">Repaid</mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.get('paidStatus').hasError('required') && (form.get('paidStatus').touched || submitted)">
                        Please select paid status
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <mat-form-field>
                    <input matInput [matDatepicker]="paidDatePicker" formControlName="paidDate" placeholder="Paid Date" />
                    <mat-datepicker-toggle matSuffix [for]="paidDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #paidDatePicker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-4">
                <mat-form-field>
                    <input matInput [matDatepicker]="chargebackDatePicker" formControlName="chargeDate" placeholder="Chargeback Date" />
                    <mat-datepicker-toggle matSuffix [for]="chargebackDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #chargebackDatePicker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-4">
                <mat-form-field>
                    <input matInput [matDatepicker]="repaidDatePicker" formControlName="repaidDate" placeholder="Repaid Date" />
                    <mat-datepicker-toggle matSuffix [for]="repaidDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #repaidDatePicker></mat-datepicker>
                </mat-form-field>
            </div>
        </div>

        <div class="row my-4" *ngIf="!showNewContactFields && !showSetContactUI">
            <div class="col-md-5">
                <!-- <span (click)="navigateToSaleDetail()">Click here</span> to add contact info. -->
                <mat-form-field>
                    <input matInput placeholder="Customer" 
                        [matAutocomplete]="autocontact" formControlName="existingContact" 
                        (keyup)="validateContactInput($event)" required />
                    <mat-autocomplete #autocontact="matAutocomplete" [displayWith]="displayFn">
                        <mat-option *ngFor="let c of contacts$|async" [value]="c">
                            <mat-icon inline="true">person</mat-icon>
                            <span>{{c.firstName}} {{c.lastName}} </span>
                            <small>{{c.street}} {{c.city}} {{c.state}}</small>
                        </mat-option>
                    </mat-autocomplete>
                    <mat-error *ngIf="form.get('existingContact').hasError('required')">
                        Please select a contact or click the button to add a new one
                    </mat-error>
                </mat-form-field>
                <ng-container *ngIf="showSetContactUI">
                    <div class="w-100">
                        <span class="font-weight-bold">New Contact: </span>
                        <span>{{form.get('contact').get('firstName').value}} </span>
                        <span>{{form.get('contact').get('lastName').value}}</span>
                        <button type="button" mat-icon-button (click)="unsetNewContact()">
                            <mat-icon>clear</mat-icon>
                        </button>
                        <p class="text-muted">
                            This contact will be added when you save the sale. Please make sure you're not duplicating contacts.
                        </p>
                    </div>
                </ng-container>
            </div>
            <div class="col-md-3">
                <button type="button" mat-button 
                    color="primary" 
                    (click)="showNewContactForm()"
                    [disabled]="showNewContactFields || showSetContactUI"
                >
                    <mat-icon inline="true">add</mat-icon>
                    <span>New Contact</span>
                </button>
            </div>
        </div>

        <ng-container *ngIf="showNewContactFields">
            <!-- CREATE NEW CONTACT FORM HERE & continue with rest of form -->
            <hr />
            <p class="font-weight-bold">Create New Customer</p>
            <div formGroupName="contact" class="new-customer-form">
                <div class="row">
                    <div class="col-md-6">
                        <mat-button-toggle-group #group="matButtonToggleGroup" value="1" (change)="handleContactTypeChange($event)">
                            <mat-button-toggle value="1">
                                <mat-icon inline="true">home</mat-icon> Residential
                            </mat-button-toggle>
                            <mat-button-toggle value="2">
                                <mat-icon inline="true">domain</mat-icon> Business
                            </mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                </div>
                <div class="row" *ngIf="showBusinessNameField" @showField>
                    <div class="col-md-9">
                        <mat-form-field class="w-100">
                            <input matInput type="text" placeholder="Business Name" formControlName="businessName" required />
                            <mat-error *ngIf="form.get('contact.businessName').hasError('required')">
                                Please enter a business name
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">
                        <mat-form-field class="w-100">
                            <mat-select placeholder="Prefix" formControlName="prefix">
                                <mat-option value=""></mat-option>
                                <mat-option value="Dr">Dr</mat-option>
                                <mat-option value="Mr">Mr</mat-option>
                                <mat-option value="Mrs">Mrs</mat-option>
                                <mat-option value="Ms">Ms</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="w-100">
                            <input matInput type="text" placeholder="First Name" formControlName="firstName" required />
                            <mat-error *ngIf="form.get('contact.firstName')?.hasError('required')">
                                Please enter a first name
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-5">
                        <mat-form-field class="w-100">
                            <input matInput type="text" placeholder="Last Name" formControlName="lastName" required />
                            <mat-error *ngIf="form.get('contact.lastName')?.hasError('required')">
                                Please enter a last name
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-2">
                        <mat-form-field class="w-100">
                            <input matInput [matDatepicker]="dobPicker" placeholder="Birthdate" formControlName="dob" />
                            <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
                            <mat-datepicker #dobPicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <mat-form-field class="w-100">
                            <input matInput type="text" placeholder="Address" formControlName="street" required />
                            <mat-error *ngIf="form.get('contact').get('street').hasError('required')">
                                Please enter a street address
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-2">
                        <mat-form-field class="w-100">
                            <input matInput type="text" placeholder="Apt/Suite/Unit" formControlName="street2" />
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="w-100">
                            <input matInput type="text" #ssn placeholder="SSN" formControlName="ssn" maxlength="9" />
                            <mat-hint align="end">{{ssn.value.length}} / 9</mat-hint>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <mat-form-field class="w-100">
                            <input matInput type="text" placeholder="City" formControlName="city" required />
                            <mat-error *ngIf="form.get('contact').get('city').hasError('required')">
                                Please enter a city
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="w-100">
                            <mat-select placeholder="State" formControlName="state" required>
                                <mat-option *ngFor="let s of states" [value]="s.abbreviation">{{s.name}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="form.get('contact').get('state').hasError('required')">
                                Please select a state
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-2">
                        <mat-form-field class="w-100">
                            <input matInput type="text" 
                                #postalCode
                                placeholder="zip" 
                                formControlName="zip" 
                                maxlength="5"
                                required 
                            />
                            <mat-hint>{{postalCode.value.length}} / 5</mat-hint>
                            <mat-error *ngIf="form.get('contact').get('zip').hasError('required')">
                                Please enter a postal code
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="w-100">
                            <input matInput type="text" placeholder="Email" formControlName="email" required />
                            <mat-error *ngIf="form.get('contact').get('email').hasError('required')">
                                Please enter an email
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="w-100">
                            <input matInput type="text" 
                                placeholder="Phone" 
                                formControlName="phone" 
                                #phone
                                maxlength="10"
                                required 
                            />
                            <mat-hint>{{phone.value.length}} / 10</mat-hint>
                            <mat-error *ngIf="form.get('contact').get('phone').hasError('required')">
                                Please enter a phone
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3">
                        <mat-form-field class="w-100">
                            <input matInput type="text" 
                                placeholder="Fax" 
                                formControlName="fax" 
                                #fax
                                maxlength="10"
                            />
                            <mat-hint>{{fax.value.length}} / 10</mat-hint>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <button type="button" mat-button (click)="unsetNewContact('existingContact')">Cancel</button>
            <!-- <button type="button" mat-button color="primary" (click)="setNewContact()">
                <mat-icon inline="true">save</mat-icon>
                <span>Save</span>
            </button> -->
            <hr />
        </ng-container>

        <div class="row">
            <div class="col-12">
                <mat-list formArrayName="remarks">
                    <div class="d-flex justify-content-between">
                        <h4 class="m-0">
                            Activity
                        </h4>
                        <span *ngIf="remarks.length">
                            <button type="button" mat-stroked-button color="primary" (click)="addRemark()">
                                Add Remark
                            </button>
                        </span>
                    </div>

                    <mat-form-field *ngIf="showAddRemarkInput">
                        <textarea matInput placeholder="Enter Remark" #remarkField [formControl]="getRemarkFormControl()"></textarea>
                        <button mat-button type="button" matSuffix mat-icon-button (click)="saveNewRemark()">
                            <mat-icon inline="true">save</mat-icon>
                        </button>
                        <button mat-button type="button" matSuffix mat-icon-button (click)="cancelNewRemark()">
                            <mat-icon inline="true">clear</mat-icon>
                        </button>
                    </mat-form-field>
                    <mat-list-item *ngFor="let r of remarks; let i=index" [formGroupName]="i" [matTooltip]="r.description">
                        <mat-icon mat-list-icon>note</mat-icon>
                        <h4 mat-line>{{r.user.firstName}} {{r.user.lastName}}</h4>
                        <p mat-line>{{r.description}}</p>
                        <p mat-line>{{r.updatedAt | date}}</p>
                        <mat-divider></mat-divider>
                    </mat-list-item>
                    <mat-list-item *ngIf="remarks.length < 1 && !showAddRemarkInput" class="clickable" (click)="addRemark()">
                        <mat-icon mat-list-icon>note_add</mat-icon>
                        <h4 mat-line>Add a Remark</h4>
                    </mat-list-item>

                </mat-list>

            </div>
        </div>

    </form>
</mat-dialog-content>
<mat-dialog-actions class="d-flex justify-content-end">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button (click)="saveDialog()" color="primary">Save</button>
</mat-dialog-actions>
