
.border-radius-circular {
    background-color: #fafafa;
    min-height: 300px;
    min-width: 300px;
    border-radius: 50%;
    display: inline-block;
}

.img {
    height: 325px;
    width: 325px;
}

.forgot {
    font-family: 'Raleway', sans-serif;
}