
<mat-table [dataSource]="contacts" class="mat-elevation-z1">

    <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef class="w-50">&nbsp;</mat-header-cell>
        <mat-cell *matCellDef="let item">
            <mat-checkbox></mat-checkbox>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="contactName">
        <mat-header-cell *matHeaderCellDef>Contact</mat-header-cell>
        <mat-cell *matCellDef="let item">
            {{item.firstName}} {{item.lastName}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="company">
        <mat-header-cell *matHeaderCellDef>Company</mat-header-cell>
        <mat-cell *matCellDef="let item">
            {{item.businessName}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef>Phone</mat-header-cell>
        <mat-cell *matCellDef="let item">
            {{item.phone | phone}}
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
        <mat-cell *matCellDef="let item">
            {{item.email}}
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="['select', 'contactName', 'company', 'phone', 'email']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['select', 'contactName', 'company', 'phone', 'email']"></mat-row>
</mat-table>