
<div class="container">
    <div class="row mb-4">
        <div class="col-md-12">
            <mat-card class="page-header-accent">
                <mat-card-content class="d-flex justify-content-between">
                    <h3>
                        <span>Payroll Administration</span>
                    </h3>
                    <div>
                        <mat-slide-toggle 
                            [checked]="showClosed" 
                            (change)="switchDisplay()"
                            class="my-0 mr-2"
                        >
                            Show Closed
                        </mat-slide-toggle>
                        <button type="button" mat-stroked-button color="primary" (click)="addPayCycle()">
                            <mat-icon inline="true">add</mat-icon>
                            <span>Payroll</span>
                        </button>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <ng-container *ngIf="displayCycles != null && (displayCycles|async).length; else noCycles">
        <div class="row" *ngFor="let cycle of displayCycles|async as cycles">
            <div class="col-md-12">
                <mat-card [ngClass]="getBorderColor(cycle, 'left')">
                    <mat-card-title class="d-flex justify-content-between">
                        <div [class.text-danger]="isPayCycleDue(cycle)">
                            <span class="font-weight-bold">Status: </span>
                            <small>{{getCycleStatus(cycle)}}</small>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="button" mat-button 
                                color="primary" 
                                *ngIf="!cycle.isPending && !cycle.isClosed"
                                (click)="editPayCycle(cycle)"
                            >
                                <mat-icon>play_arrow</mat-icon>
                                <span>Start</span>
                            </button>
                            <ng-container *ngIf="!isBeforeEndDate(cycle); else payrollReadyToRun">
                                <button
                                    type="button" mat-button
                                    color="primary"
                                    *ngIf="cycle.isPending && !cycle.isClosed"
                                    (click)="editPayCycle(cycle)"
                                >
                                    <mat-icon>redo</mat-icon>
                                    <span>Continue</span>
                                </button>
                                <button
                                    type="button" mat-button
                                    color="accent"
                                    *ngIf="cycle.isPending && !cycle.isClosed"
                                    (click)="closePayCycle(cycle)"
                                >
                                    <mat-icon>check_circle</mat-icon>
                                    <span>Close</span>
                                </button>
                                <button
                                    type="button" mat-button
                                    color="primary"
                                    *ngIf="cycle.isClosed"
                                    (click)="openPayCycle(cycle)"
                                >
                                    <mat-icon>cached</mat-icon>
                                    <span>Re-Open</span>
                                </button>
                            </ng-container>
                            <ng-template #payrollReadyToRun>
                                <button type="button"
                                    mat-button
                                    [color]="getEditButtonColor(cycle)"
                                    [class.text-muted]="cycle?.payrolls?.length > 0"
                                    *ngIf="cycle.isPending && !cycle.isClosed"
                                    (click)="editPayCycle(cycle)"
                                >
                                    <mat-icon>create</mat-icon>
                                    <span>Edit</span>
                                </button>
                                <button type="button"
                                    mat-button
                                    [color]="getButtonColor(cycle)"
                                    *ngIf="cycle.isPending && !cycle.isClosed"
                                    (click)="processPayroll(cycle)"
                                >
                                    <mat-icon>sync</mat-icon>
                                    <span>
                                        {{ cycle?.payrolls?.length > 0 ? 'Reprocess' : 'Process' }}
                                    </span>
                                </button>
                            </ng-template>
                        </div>
                        <!-- <button type="button" mat-icon-button color="primary" (click)="editPayCycle(cycle)">
                            <mat-icon>edit</mat-icon>
                        </button> -->
                    </mat-card-title>
                    <mat-card-content>
                        <p>
                            <span class="font-weight-bold">Dates:</span> 
                            {{cycle.startDate | date:'shortDate'}} - {{cycle.endDate | date:'shortDate'}}
                        </p>
                        <p class="text-muted" *ngIf="cycle?.payrolls?.length">
                            Payroll was processed {{getPayrollEditDate(cycle) | date:'short'}}
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </ng-container>
    <ng-template #noCycles>
        <div class="row">
            <div class="col-md-12">
                <h5 class="text-center text-muted font-italic">No Payroll Cycles to display.</h5>
            </div>
        </div>
    </ng-template>
    
</div>