
<!-- <img src="dist/assets/images/hero.jpg" class="hero-banner" /> -->


<div class="row hero-banner">
    <div class="col-md-5 offset-md-2 d-flex align-items-center">
        <h1 class="display-3 text-white hero-banner-text py-2">
            <span>Leave the</span> 
            <span>analytics</span> 
            <span>to us,</span> 
            <span>so your team</span> 
            <span>can execute.</span>
        </h1>
    </div>
</div>

<div class="row my-4 justify-content-center">
    <div class="col-md-6 d-flex justify-content-center">
        <div>
            <h3 class="font-weight-light mb-4 text-center">Welcome to Comprehensive Analytics</h3>
            <p class="text-center lead text-muted mb-4" style="line-height: 1.2;">
                We can provide you with the tools to manage clients and communicate with them effectively, employees, sales analytics while keeping your accounting 
                in order and making sure you have the data at your fingertips that you need to be successful. 
            </p>
            <hr style="width:80%;" />
        </div>
    </div>
</div>

<div class="row mt-4 justify-content-center">
    <div class="col-md-4 d-flex justify-content-center">
        <span class="mx-2">
            <a href="#" class="text-muted">Facebook</a>
        </span>
        <span class="mx-2">
            <a href="#" class="text-muted">Twitter</a>
        </span>
        <span class="mx-2">
            <a href="#" class="text-muted">Medium</a>
        </span>
    </div>
</div>