<h2 mat-dialog-title>How to Use Pay Runs</h2>

<div mat-dialog-content>
    <p>
        Glad to see you've made it here! Now, you have to tackle creating a Pay Run. 
        Don't worry, it's much easier than it seems and you'll be a professional in no time.  
    </p>
    <p>
        You start by clicking the "+ Payroll" button on the Pay Runs header bar of this page. 
        <br />
        Enter your start and end dates of the entire time period for which you want any current paychecks to be included. 
    </p>
    <p>
        The app allows you to designate the timeframe and doesn't restrict you. 
        It is totally up to you to how you would like those dates to work.
    </p>
</div>

<div mat-dialog-actions class="d-flex justify-content-end">
    <button type="button" mat-button (click)="onNoClick()">Close</button>
</div>