
<h2 mat-dialog-title>Map Columns</h2>
<mat-dialog-content>
  <div class="w-100 d-flex justify-content-between align-items-center">
    <p>Sales Agent <i class="material-icons md-18 mx-5">arrow_forward</i></p>
    <mat-form-field>
      <mat-select placeholder="Select One" [(value)]="mappings.agentName">
        <mat-option *ngFor="let opt of optionPairs" [value]="opt.key">
          {{opt.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="w-100 d-flex justify-content-between align-items-center">
    <p>Sale Date <i class="material-icons md-18 mx-5">arrow_forward</i></p>
    <mat-form-field>
      <mat-select placeholder="Select One" [(value)]="mappings.saleDate">
        <mat-option *ngFor="let opt of optionPairs" [value]="opt.key">
          {{opt.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="w-100 d-flex justify-content-between align-items-center">
    <p>Date Format <i class="material-icons md-18 mx-5">arrow_forward</i></p>
    <mat-form-field>
      <mat-select placeholder="Select One" [(value)]="dateFormat">
        <mat-option value="MM-DD-YYYY">MM-DD-YYYY (01/01/2018)</mat-option>
        <mat-option value="M-D-YYYY">M-D-YYYY (1/1/2018)</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="w-100 d-flex justify-content-between align-items-center">
    <p>First Name <i class="material-icons md-18 mx-5">arrow_forward</i></p>
    <mat-form-field>
      <mat-select placeholder="Select One" [(value)]="mappings.firstName">
        <mat-option *ngFor="let opt of optionPairs" [value]="opt.key">
          {{opt.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="w-100 d-flex justify-content-between align-items-center">
    <p>Last Name <i class="material-icons md-18 mx-5">arrow_forward</i></p>
    <mat-form-field>
      <mat-select placeholder="Select One" [(value)]="mappings.lastName">
        <mat-option *ngFor="let opt of optionPairs" [value]="opt.key">
          {{opt.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="w-100 d-flex justify-content-between align-items-center">
    <p>Street <i class="material-icons md-18 mx-5">arrow_forward</i></p>
    <mat-form-field>
      <mat-select placeholder="Select One" [(value)]="mappings.street">
        <mat-option *ngFor="let opt of optionPairs" [value]="opt.key">
          {{opt.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="w-100 d-flex justify-content-between align-items-center">
    <p>City <i class="material-icons md-18 mx-5">arrow_forward</i></p>
    <mat-form-field>
      <mat-select placeholder="Select One" [(value)]="mappings.city">
        <mat-option *ngFor="let opt of optionPairs" [value]="opt.key">
          {{opt.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="w-100 d-flex justify-content-between align-items-center">
    <p>State <i class="material-icons md-18 mx-5">arrow_forward</i></p>
    <mat-form-field>
      <mat-select placeholder="Select One" [(value)]="mappings.state">
        <mat-option *ngFor="let opt of optionPairs" [value]="opt.key">
          {{opt.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="w-100 d-flex justify-content-between align-items-center">
    <p>Zip <i class="material-icons md-18 mx-5">arrow_forward</i></p>
    <mat-form-field>
      <mat-select placeholder="Select One" [(value)]="mappings.zip">
        <mat-option *ngFor="let opt of optionPairs" [value]="opt.key">
          {{opt.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="w-100 d-flex justify-content-between align-items-center">
    <p>Status <i class="material-icons md-18 mx-5">arrow_forward</i></p>
    <mat-form-field>
      <mat-select placeholder="Select One" [(value)]="mappings.status">
        <mat-option *ngFor="let opt of optionPairs" [value]="opt.key">
          {{opt.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="w-100 d-flex justify-content-between align-items-center">
    <p>Amount <i class="material-icons md-18 mx-5">arrow_forward</i></p>
    <mat-form-field>
      <mat-select placeholder="Select One" [(value)]="mappings.amount">
        <mat-option *ngFor="let opt of optionPairs" [value]="opt.key">
          {{opt.value}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions class="d-flex justify-content-between">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-raised-button (click)="closeDialog()" color="primary">Save</button>
</mat-dialog-actions>
