
/** CARD BASED STYLING */

// title cards for page headers
.page-header-accent {
    padding: 0.75rem 1.5rem 0.5rem;
    border-top: 5px solid $mat-accent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 1rem;
}

.mat-card-border-primary {
    padding: 0.75rem 1.5rem 0.5rem;
    border-top: 5px solid $mat-primary;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

// .left-border-primary {
//     padding: 0.75rem 1.5rem 0.5rem;
//     border-left: 5px solid $vs-info;
//     border-top-left-radius: 5px;
//     border-bottom-left-radius: 5px;
//     margin-bottom: 1rem;
// }



// .left-border-primary {
//     @include left-border-($vs-info);
// }