
.app-header-bar {
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    margin-bottom: 0;
    position: relative;
    z-index: 2;
}

.hero-banner {
    width: 100%;
    min-height: 55vh;
    height: auto;
    margin: 0 auto;
    position: relative;
    background-image: url(../assets/images/hero.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.hero-banner-text {
    
    padding: 0 0.5rem;
    
    span {
        margin: 0 0.5rem 0 0;
        background-color: #454545;
    }
}