
/***********************************************
 * NEEDED FOR (@MDI/FONTS)                     *
***********************************************/
.mdi::before {
    font-size: 24px;
    line-height: 14px;
}
.btn .mdi::before {
    position: relative;
    top: 4px;
}
.btn-xs .mdi::before {
    font-size: 18px;
    top: 3px;
}
.btn-sm .mdi::before {
    font-size: 18px;
    top: 3px;
}
.dropdown-menu .mdi {
    width: 18px;
}
.dropdown-menu .mdi::before {
    position: relative;
    top: 4px;
    left: -8px;
}
.nav .mdi::before {
    position: relative;
    top: 4px;
}
.navbar .navbar-toggle .mdi::before {
    position: relative;
    top: 4px;
    color: #FFF;
}
.breadcrumb .mdi::before {
    position: relative;
    top: 4px;
}
.breadcrumb a:hover {
    text-decoration: none;
}
.breadcrumb a:hover span {
    text-decoration: underline;
}
.alert .mdi::before {
    position: relative;
    top: 4px;
    margin-right: 2px;
}
.input-group-addon .mdi::before {
    position: relative;
    top: 3px;
}
.navbar-brand .mdi::before {
    position: relative;
    top: 2px;
    margin-right: 2px;
}
.list-group-item .mdi::before {
    position: relative;
    top: 3px;
    left: -3px
}
/*************************************************
 * ^^^ NEEDED FOR (@MDI/FONTS) ^^^               *
*************************************************/


.app-header-bar {
    -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    margin-bottom: 1rem;
    position: relative;
    z-index: 2;
}

.hero-banner {
    width: 100%;
    min-height: 55vh;
    height: auto;
    margin: 0 auto;
    margin-top: -1rem;
    position: relative;
    background-image: url(../assets/images/hero.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.hero-banner-text {
    
    padding: 0 0.5rem;
    
    span {
        margin: 0 0.5rem 0 0;
        background-color: #454545;
    }
}

.logo-container {
    min-height: 50px;
}

.svg-container {
    display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 100%; 
	vertical-align: middle; 
	overflow: hidden; 
}

.svg-content {
    display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}

.legal-footer {
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
}