@import
  '~bootstrap/scss/bootstrap',
  './_variables',
  // '~@angular/material/prebuilt-themes/deeppurple-amber.css'
  './_theme',
  './_utilities',
  './mixins',
  './ui-theme',
  '~handsontable/dist/handsontable.full.css',
  '~quill/dist/quill.core.css',
  '~quill/dist/quill.snow.css',
  '~quill/dist/quill.bubble.css';

.font-sm {
  font-size: .75rem;
}

.font-xs {
  font-size: .5rem;
}

vs-daily-sale-tracker > mat-card > mat-card-content > table > tbody > tr > td {

  mat-form-field {
    margin: 0 5px;
  }
}

.wp-100 {
  width: 100%;
}



body, html {
  height: 100%;
  font-size: 16px;
  line-height: 1.15rem;
}

button:focus {
    outline: none !important;
    box-shadow: none !important;
}

.form-control:focus {
    outline: none !important;
    border: none !important;
}

.app-loading {
  position:relative;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  height:100%;
}

.app-loading .spinner {
  height:200px;
  width:200px;
  animation:rotate 2s linear infinite;
  transform-origin:center center;
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  margin:auto;
}

.app-loading .spinner .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #ddd;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

.hide {
  display: none !important;
}

.mat-dialog-container {
    padding: 0.5rem 1.5rem !important;
}

.modal-header {
    padding: 0 0 1rem 0;
    border: 0;
    align-items: center;
}

.modal-body {
    padding: 0;
}

.modal-footer {
    padding: 1rem 0 0;
}

.filter-active {
    background-color: $primary-filter !important;
    color: $white !important;
}

.bg-vs-primary {
    background-color: $primary-filter;
}

.bg-vs-muted {
    background-color: $bg-muted;
    color: $white;
}

.mat-dialog-container {
    max-height: 80vh !important;
    padding: 1.5rem !important;
}




/** CARD BASED STYLING */

// title cards for page headers
.page-header-accent {
    padding: 0.75rem 1.5rem 0.5rem;
    border-top: 5px solid $mat-accent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 1rem;
}

.mat-card-border-primary {
    padding: 0.75rem 1.5rem 0.5rem;
    border-top: 5px solid $mat-primary;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.left-border-primary {
    padding: 0.75rem 1.5rem 0.5rem;
    border-left: 5px solid $vs-info;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-bottom: 1rem;
}