
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <mat-card class="page-header-accent">
                <mat-card-content class="d-flex justify-content-between">
                    <h3>
                        Income Statement
                    </h3>
                    <!-- <div>
                        <mat-slide-toggle [checked]="showClosed" (change)="switchDisplay()" class="my-0 mr-2">
                            Show Closed
                        </mat-slide-toggle>
                        <button type="button" mat-stroked-button color="primary" (click)="addPayCycle()">
                            <mat-icon inline="true">add</mat-icon>
                            <span>Payroll</span>
                        </button>
                    </div> -->
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <ng-container *ngLet="detail$|async as detail">
        <div class="row mx-2">
            <div class="col-md-12">
                <mat-card class="border-top-primary">
                    <mat-card-subtitle>
                        <h4 class="text-body pb-3 w-100 d-flex justify-content-between">
                            <span>{{client?.name}}</span>
                            <small>Campaign: {{detail?.payroll?.campaign?.name}}</small>
                        </h4>
                        <div class="d-flex justify-content-between">
                            <address>
                                {{client?.name}}<br />
                                {{client?.street}}<br />
                                {{client?.city}} {{client?.state}} {{client?.zip}}
                            </address>
                            <div>
                                <div>
                                    <strong>Weekending:</strong> 
                                    {{detail?.payroll?.weekEnding | date:'shortDate'}}
                                </div>
                                <div>
                                    <strong>Invoice Date:</strong>
                                    {{detail?.payroll?.payCycle?.endDate | date:'shortDate'}}
                                </div>
                                <br />
                                <div>
                                    <strong>Payable To:</strong>
                                    {{detail?.agent?.firstName}} {{detail?.agent?.lastName}}
                                </div>
                            </div>
                        </div>
                    </mat-card-subtitle>
                    <mat-card-content>
                        <!-- SALES DETAILS -->
                        <mat-table [dataSource]="sales">
                            <ng-container matColumnDef="no">
                                <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
                                <mat-cell *matCellDef="let item; let i = index">
                                    {{ i + 1 }}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="saleDate">
                                <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
                                <mat-cell *matCellDef="let item">
                                    {{ item.saleDate | date:'shortDate' }}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="customerName">
                                <mat-header-cell *matHeaderCellDef>Customer Name</mat-header-cell>
                                <mat-cell *matCellDef="let item">
                                    Need Contact Info
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="address">
                                <mat-header-cell *matHeaderCellDef>Address</mat-header-cell>
                                <mat-cell *matCellDef="let item">
                                    Need Contact Info
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="commissionable">
                                <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
                                <mat-cell *matCellDef="let item">
                                    {{ item.saleStatus.name }}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="amount">
                                <mat-header-cell *matHeaderCellDef>Amount</mat-header-cell>
                                <mat-cell *matCellDef="let item">
                                    {{ item.campaign?.compensation != null ? item.campaign?.compensation : 0 | currency }}
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="saleColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: saleColumns;"></mat-row>
                        </mat-table>


                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </ng-container>
</div>