
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <mat-card class="page-header-accent">
                <mat-card-content class="d-flex justify-content-between">
                    <h3>
                        Income Statement
                    </h3>
                    <!-- <div>
                        <mat-slide-toggle [checked]="showClosed" (change)="switchDisplay()" class="my-0 mr-2">
                            Show Closed
                        </mat-slide-toggle>
                        <button type="button" mat-stroked-button color="primary" (click)="addPayCycle()">
                            <mat-icon inline="true">add</mat-icon>
                            <span>Payroll</span>
                        </button>
                    </div> -->
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>