@import "../../../scss/variables",
        "../../../scss/colors",
        "../../../scss/utilities";


mat-card {
    padding: 0;

    mat-card-subtitle {
        padding: 1rem 1rem 0.5rem 1rem;
        background-color: $gray-100;
        border-bottom: 1px solid $gray-400;
        box-shadow: 0 2px 4px -4px rgba(0,0,0,0.19), 0 4px 4px -4px rgba(0,0,0,0.23);
    }

    mat-card-content {
        padding: 0rem 1rem 1rem 1rem;
    }
}

