
<div class="container">
    <div class="row mb-4">
        <div class="col-md-12">
            <mat-card class="page-header-accent">
                <h3 mat-card-title>Campaign Details</h3>
                <mat-card-subtitle>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a routerLink="/campaigns">Campaigns</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Detail</li>
                        </ol>
                    </nav>
                </mat-card-subtitle>
            </mat-card>
        </div>
    </div>
    <ng-container *ngIf="campaign|async as campaign" [formGroup]="form">
        <div class="row">
            <div class="col-md-12">
                <mat-card>
                    <h4 mat-card-title>General Information - {{campaign.name}}</h4>
                    <mat-card-content>
                        <div class="row mb-4">
                            <div class="col-md-12">
                                <div class="my-1">
                                    <span class="font-weight-bold" [class.text-muted]="!campaign.active">Status: </span>
                                    {{ campaign.active ? 'Active' : 'Inactive' }}
                                </div>
                                <div class="my-1">
                                    <mat-form-field>
                                        <input matInput placeholder="Compensation" formControlName="compensation" />
                                        <span matPrefix>$&nbsp;</span>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <mat-accordion>
                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                Detail and Info
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>

                                        <p class="font-italic text-muted">
                                            This is some brief information that describes the campaign and gives pertinent information to employees.
                                        </p>
                                        <quill-editor 
                                            [style]="{height: '200px'}" 
                                            formControlName="mdDetails" 
                                            (onContentChanged)="quillContentChanged($event)"
                                            [modules]="modules"
                                        ></quill-editor>
                                    </mat-expansion-panel>

                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                Onboarding.
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>

                                        <p class="font-italic text-muted">
                                            Onboarding. No problem. Let's tell the employees how to get it done. 
                                        </p>
                                        <quill-editor 
                                            [style]="{height: '200px'}" 
                                            formControlName="mdOnboarding" 
                                            (onContentChanged)="quillContentChanged($event)"
                                            [modules]="modules"
                                        ></quill-editor>
                                    </mat-expansion-panel>

                                    <mat-expansion-panel>
                                        <mat-expansion-panel-header>
                                            <mat-panel-title>
                                                Additional Info
                                            </mat-panel-title>
                                        </mat-expansion-panel-header>

                                        <p class="font-italic text-muted">
                                            Is there additional information you need to share about this campaign? (Restrictions, permit necessities, etc)
                                        </p>
                                        <quill-editor 
                                            [style]="{height: '200px'}" 
                                            formControlName="mdOther" 
                                            (onContentChanged)="quillContentChanged($event)"
                                            [modules]="modules"
                                        ></quill-editor>
                                    </mat-expansion-panel>
                                </mat-accordion>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-md-12">
                <mat-card>
                    <h4 mat-card-title>Utilities</h4>
                    <mat-card-subtitle>
                        Information about the utilities available for 
                        <span class="font-weight-bold">{{campaign.name}}. </span>
                        The accuracy of this information is extremely important as it is used to generate reporting sent 
                        to the EDI and Utility company. 
                    </mat-card-subtitle>
                    <mat-card-content>
                        <div class="row" *ngIf="campaign.utilities != null">
                            <ng-container *ngFor="let u of campaign.utilities; let i = index">
                                <div class="col-md-6">
                                    <mat-card class="mat-card-border-primary">
                                        <mat-card-header>
                                            <mat-icon mat-card-avatar>domain</mat-icon>
                                            <h5 mat-card-title>{{u.utilityName}}</h5>
                                            <mat-card-subtitle>Commodity: {{u.commodity}}</mat-card-subtitle>
                                            <div class="flex-grow-1">
                                                <button type="button" 
                                                    mat-button 
                                                    color="primary" 
                                                    class="float-right" 
                                                    (click)="editUtility(u)"
                                                >
                                                    <mat-icon inline="true">edit</mat-icon> Edit
                                                </button>
                                            </div>
                                        </mat-card-header>
                                        <mat-card-content>
                                            <p>Status: {{u.isActive ? 'Active' : 'Inactive'}}</p>
                                        </mat-card-content>
                                    </mat-card>
                                </div>
                            </ng-container>
                        </div>
                       
                        <div class="row row-top-border-primary">
                            <div class="col-md-12 d-flex justify-content-center">
                                <button type="button" mat-button color="primary" (click)="addUtility()">
                                    <mat-icon inline="true">add</mat-icon> Utility
                                </button>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </ng-container>
</div>
