@import "../../scss/variables",
"../../scss/colors",
"../../scss/utilities";


table {
    width: 100%;
}

.no-data-message {
    padding: 1rem 0;
}

button.edit {
    opacity: 0;
}

tr {
    &:hover>*>button.edit {
        animation: fadeIn 0.8s forwards;
    }

    &>*>button.fade-in {
        animation: fadeIn 0.8s forwards;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    30% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.element-detail {
    max-height: 25vh;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
}

.detail-row {
    height: 0;
}

::ng-deep .mat-header-cell:last-child,
.mat-cell:last-child {
    padding: 0;
}

.table-shrink {
    min-width: 50px !important;
    max-width: 100px !important;
    width: 0 auto;
}

tr {
    * {
        ::ng-deep .mat-form-field-underline {
            background: transparent;
        }

        ::ng-deep .mat-form-field-infix {
            padding-bottom: 0;
        }
    }

    &.disabled {
        color: $gray-600;

        * {
            color: $gray-600;
        }
    }
}

.spacer {
    width: 40px;
}
