<!-- <mat-card>
  <mat-card-content>
    <h2>{{user.selectedClient.name}}'s Campaigns</h2>
    <mat-tab-group class="campaign-tab-group" [selectedIndex]="activeTab">
      <mat-tab label="Active">
        <div class="campaign-tab-content">
          <div class="mat-elevation-z2 p-3 d-flex justify-content-center" *ngIf="activeTableSource.length === 0">
              <h5 class="mb-0">No Active Campaigns</h5>
          </div>
          <div class="campaigns-table active mat-elevation-z8" *ngIf="activeTableSource.length > 0">
            <table mat-table #table [dataSource]="activeTableSource" class="active-table">

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let item" class="hover">
                  {{item.name}}
                  <i class="material-icons clickable" (click)="editCampaign(item)">create</i>
                </td>
              </ng-container>

              <ng-container matColumnDef="campaignId">
                <th mat-header-cell *matHeaderCellDef>Campaign ID</th>
                <td mat-cell *matCellDef="let item">{{item.campaignId}}</td>
              </ng-container>

              <ng-container matColumnDef="active">
                <th mat-header-cell *matHeaderCellDef>Deactivate</th>
                <td mat-cell *matCellDef="let item">
                  <button mat-icon-button>
                    <mat-icon aria-label="Deactivate" color="warn" (click)="switchActiveStatus(item)">clear</mat-icon>
                  </button>
                </td>
              </ng-container>

              <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef>Date Added</th>
                <td mat-cell *matCellDef="let item">{{item.createdAt | date }}</td>
              </ng-container>

              <ng-container matColumnDef="updatedAt">
                <th mat-header-cell *matHeaderCellDef>Last Modified</th>
                <td mat-cell *matCellDef="let item">{{item.updatedAt | date:'short'}}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="activeTableColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: activeTableColumns;"></tr>
            </table>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Inactive">
        <div class="campaign-tab-content">
          <div class="mat-elevation-z2 p-3 d-flex justify-content-center" *ngIf="inactiveTableSource.length === 0">
            <h5 class="mb-0">No Inactive Campaigns</h5>
          </div>
          <div class="campaigns-table active mat-elevation-z8" *ngIf="inactiveTableSource.length > 0">
            <table mat-table #table [dataSource]="inactiveTableSource" class="active-table">

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>Name</th>
                <td mat-cell *matCellDef="let item">{{item.name}}</td>
              </ng-container>

              <ng-container matColumnDef="campaignId">
                <th mat-header-cell *matHeaderCellDef>Campaign ID</th>
                <td mat-cell *matCellDef="let item">{{item.campaignId}}</td>
              </ng-container>

              <ng-container matColumnDef="active">
                <th mat-header-cell *matHeaderCellDef>Activate</th>
                <td mat-cell *matCellDef="let item">
                  <button mat-icon-button>
                    <mat-icon aria-label="Activate" color="primary" (click)="switchActiveStatus(item)">check_cirle_outline</mat-icon>
                  </button>
                </td>
              </ng-container>

              <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef>Date Added</th>
                <td mat-cell *matCellDef="let item">{{item.createdAt | date }}</td>
              </ng-container>

              <ng-container matColumnDef="updatedAt">
                <th mat-header-cell *matHeaderCellDef>Last Modified</th>
                <td mat-cell *matCellDef="let item">{{item.updatedAt | date:'short'}}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="activeTableColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: activeTableColumns;"></tr>
            </table>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card> -->

<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h6 class="display-4">Campaign Management</h6>
        </div>
        <div class="col-md-2 d-flex justify-content-end align-items-center">
            <button type="button" 
                mat-icon-button 
                color="primary" 
                (click)="setFilters()" 
                [class.filter-active]="filterActive"
            >
                <mat-icon>filter_list</mat-icon>
            </button>
            <button type="button"
                class="ml-2"
                mat-flat-button
                color="primary"
                [matBadge]="numFilters"
                matBadgePosition="after"
                matBadgeColor="accent"
                [matBadgeHidden]="!filterActive"
                matBadgeOverlap="true"
                (click)="clearFilters()"
                *ngIf="filterActive"
            >
                Clear Filters
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 my-2" *ngFor="let c of (campaigns | async); let i = index">
            <div class="card hoverable">
                <!-- <div class="card-header text-center">{{c.name}}</div> -->
                <div class="card-body px-3 pt-1 pb-2" [ngClass]="c.active ? 'border-top-info' : 'border-top-light'">
                    <div class="row">
                        <div class="col-md-10 d-flex align-items-center">
                            <h5 class="card-title mb-0" [class.text-muted]="!c.active">{{c.name}}</h5>
                        </div>
                        <div class="col-md-2 d-flex align-items-start justify-content-end">
                            <button mat-icon-button type="button" [matMenuTriggerFor]="menu" class="float-right" [class.text-muted]="!c.active">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu>
                                <button mat-menu-item (click)="editCampaign(c)" *ngIf="c.active">Edit</button>
                                <button mat-menu-item (click)="switchActiveStatus(c, i)">{{c.active ? 'Deactivate' : 'Activate'}}</button>
                            </mat-menu>
                        </div>
                    </div>
                    
                    <div 
                        class="card-text my-2" 
                        *ngIf="c.mdDetails != null; else noDetail" 
                        [innerHTML]="sanitize(c.mdDetails)"
                        [class.campaign-body]="c.mdDetails != null"
                    ></div>
                    <ng-template #noDetail>
                        <div 
                            class="card-text font-italic text-muted my-2"
                            [class.campaign-body]="c.mdDetails != null"
                        >No details saved.</div>
                    </ng-template>

                </div>
                <div class="card-footer d-flex bg-light" [ngClass]="c.compensation != null ? 'justify-content-between' : 'justify-content-end'">
                    <small class="font-italic text-dark" *ngIf="c.compensation != null">Compensation: ${{c.compensation}}</small>
                    <small class="font-italic" [ngClass]="!c.active ? 'text-muted' : 'text-info'">
                        {{c.active ? 'Active' : 'Inactive'}}
                    </small>
                </div>
            </div>
        </div>
    </div>
    
</div>

<vs-float-button
  mat-icon="add"
  (callback)="addCampaign()"
  [isOpen]="floatIsOpen"
></vs-float-button>
