<div class="container">
    <div class="row">
        <div class="col-md-12">
            <mat-card class="page-header-accent">
                <mat-card-content>
                    <div class="row">
                        <div class="col-md-10">
                            <h3>Campaign Management</h3>
                        </div>
                        <div class="col-md-2 d-flex justify-content-end align-items-center">
                            <mat-slide-toggle (change)="changeViewHandler($event)" class="mr-2">Show All</mat-slide-toggle>
                            <mat-form-field>
                                <input type="text" matInput [formControl]="searchText" placeholder="Search Campaigns" />
                            </mat-form-field>
                            
                            <!-- <button type="button" 
                                mat-icon-button 
                                color="primary" 
                                (click)="setFilters()" 
                                [class.filter-active]="filterActive"
                            >
                                <mat-icon>filter_list</mat-icon>
                            </button>
                            <button type="button"
                                class="ml-2"
                                mat-flat-button
                                color="primary"
                                [matBadge]="numFilters"
                                matBadgePosition="after"
                                matBadgeColor="accent"
                                [matBadgeHidden]="!filterActive"
                                matBadgeOverlap="true"
                                (click)="clearFilters()"
                                *ngIf="filterActive"
                            >
                                Clear Filters
                            </button> -->
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="row">
        <ng-container *ngIf="(campaigns|async)?.length">
            <div class="col-md-6 my-2" *ngFor="let c of (campaigns | async); let i = index">
                <div class="card hoverable">
                    <!-- <div class="card-header text-center">{{c.name}}</div> -->
                    <div class="card-body px-3 pt-1 pb-2" [ngClass]="c.active ? 'border-top-info' : 'border-top-light'">
                        <div class="row">
                            <div class="col-md-10 d-flex align-items-center">
                                <h5 class="card-title mb-0" [class.text-muted]="!c.active">{{c.name}}</h5>
                            </div>
                            <div class="col-md-2 d-flex align-items-start justify-content-end">
                                <button mat-icon-button type="button" [matMenuTriggerFor]="menu" class="float-right" [class.text-muted]="!c.active">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu>
                                    <button mat-menu-item (click)="editCampaign(c)" *ngIf="c.active">Edit</button>
                                    <button mat-menu-item *ngIf="c.active" [routerLink]="'/campaigns/'+c.campaignId">
                                        Detail
                                    </button>
                                    <button mat-menu-item (click)="switchActiveStatus(c, i)">{{c.active ? 'Deactivate' : 'Activate'}}</button>
                                </mat-menu>
                            </div>
                        </div>
    
                        <div class="card-text my-2" *ngIf="c.utilities != null && c.utilities.length">
                            <h5 class="font-weight-bold">Available Utilities</h5>
                            <ul>
                                <li *ngFor="let util of c.utilities">
                                    {{util.utilityName}}
                                </li>
                            </ul>
                        </div>
    
                    </div>
                    <div class="card-footer d-flex bg-light" [ngClass]="c.compensation != null ? 'justify-content-between' : 'justify-content-end'">
                        <small class="font-italic text-dark" *ngIf="c.compensation != null">Compensation: ${{c.compensation}}</small>
                        <small class="font-italic" [ngClass]="!c.active ? 'text-muted' : 'text-info'">
                            {{c.active ? 'Active' : 'Inactive'}}
                        </small>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
    
</div>

<vs-float-button
  mat-icon="add"
  (callback)="addCampaign()"
  [isOpen]="floatIsOpen"
></vs-float-button>
