<!-- <div style="height: 100px !important;">
    <mat-form-field class="wp-100" [hideRequiredMarker]="true">
        <mat-select [formControlName]="campaignId" placeholder="Campaign" [required]="required">
            <mat-option *ngFor="let c of (campaigns|async); let i = index;" [value]="c.campaignId">
                {{ c.name }}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="form && form.get('campaignId').hasError">
            Please select a campaign.
        </mat-error>
        <mat-hint>
            Select the Campaign that this import will be associated with. It is <span class="font-weight-bold">very important</span> 
            that you make sure your utilities associated with the campaign reflect all utilities in the report that you're importing.
        </mat-hint>
    </mat-form-field>
</div> -->