<mat-toolbar color="primary" class="app-header-bar">
  <mat-toolbar-row>
    <span *ngIf="(loggedInStatus | async)">
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon>{{(navOpen|async) ? 'arrow_back_ios' : 'menu'}}</mat-icon>
      </button>
    </span>
    
    <span routerLink="/" class="font-weight-light h1 mb-0 d-flex align-items-center clickable">
        <img src="dist/assets/images/logo-notext.svg" class="mr-2" width="40" height="40" />
        {{menuTitle | async}}
    </span>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="(loggedInStatus | async); else loggedOut">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" class="mat-menu">
      <button mat-menu-item *ngIf="(loggedInStatus | async) && showClientSelector" (click)="openDialog()">Change Client</button>
      <!-- <button mat-menu-item *ngIf="isAdmin"></button> -->
      <button mat-menu-item (click)="onLogout()" *ngIf="(loggedInStatus | async)">Logout</button>
      <!-- <ng-template #loggedOut><button mat-menu-item routerLink="/login"> Login </button></ng-template> -->
    </mat-menu>
    <ng-template #loggedOut>
        <button type="button" mat-icon-button [routerLink]="['/login']">
            <mat-icon>exit_to_app</mat-icon>
        </button>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
