
<div class="container">
    <div class="row mb-2">
        <div class="col-md-12">
            <mat-card class="page-header-accent">
                <mat-card-content class="d-flex justify-content-between">
                    <h3>
                        Paycheck List
                    </h3>

                    <!-- FILTERING/CONTROLS AREA
                    <div>
                        <mat-slide-toggle 
                            [checked]="showClosed" 
                            (change)="switchDisplay()"
                            class="my-0 mr-2"
                        >
                            Show Closed
                        </mat-slide-toggle>
                        <button type="button" mat-stroked-button color="primary" (click)="addPayCycle()">
                            <mat-icon inline="true">add</mat-icon>
                            <span>Payroll</span>
                        </button>
                    </div> -->
                    <!-- <div>
                        <mat-form-field class="w-100">
                            <input matInput 
                                placeholder="Search Agents" 
                                aria-label="Search Agents" 
                                [matAutoComplete]="searchAgents" 
                                [formControl]="searchAgentsCtrl" />
                            <mat-autocomplete #searchAgents="matAutocomplete">
                                <mat-option *ngFor=""></mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div> -->
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <mat-card>
                <mat-card-content>
                    <ng-container *ngLet="paychecks$|async as paychecks">
                        <mat-list>
                            <mat-list-item *ngFor="let p of paychecks">
                                {{p.agent.firstName}} {{p.agent.lastName}}
                            </mat-list-item>
                        </mat-list>
                    </ng-container>
                </mat-card-content>
                
                <mat-card-actions>
                    <ng-container>
                        <mat-paginator
                            #paging
                            [pageSizeOptions]="[1, 5, 10, 25]"
                            showFirstLastButtons="true"
                        ></mat-paginator>
                    </ng-container>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>