// mat-toolbar {
//   background-color: #000000;
// }
$break: 480px;

@media screen and (min-width: $break + 1) {
    .sidenav-close {
        display: none;
    }
}

.expanded-menu-item {
    background-color: rgba(0, 0, 0, 0.04) !important;
}