<mat-toolbar color="primary" *ngIf="user != null">
    <mat-toolbar-row>
        <i class="material-icons md-48 mt-3">account_circle</i>
        <span class="fill-remaining-space"></span>
        <button mat-button (click)="toggleSidenav()" class="sidenav-close">
            <i class="material-icons">close</i>
        </button>
    </mat-toolbar-row>
    <mat-toolbar-row class="d-flex flex-column align-items-start mb-2 mt-3">
        {{user.firstName}} {{user.lastName}}
        <small>{{user.email}}</small>
    </mat-toolbar-row>
</mat-toolbar>

<mat-nav-list *ngIf="user != null" #navList>
    <!-- all users -->
    <a mat-list-item routerLink="my-information" routerLinkActive="mat-router-link-active">
        <mat-icon>info_outline</mat-icon>
        <span>My Information</span>
    </a>
    <a mat-list-item [routerLink]="['users', 'payroll', 'list']" *ngIf="user?.role?.role < roleType.companyAdmin">
        <mat-icon>attach_money</mat-icon>
        <span>My Earnings</span>
    </a>
    <a mat-list-item 
        routerLink="daily-tracker" 
        routerLinkActive="mat-router-link-active"
        *ngIf="user?.role?.role < roleType.companyAdmin && user?.role?.isSalesAdmin && user?.role?.role != roleType.manager && user?.role?.role != roleType.regManager"
    >
        <mat-icon>ballot</mat-icon>
        <span>Daily Tracker</span>
    </a>

    <!-- agents only -->
    <ng-container *ngIf="hasMyWorkMenuItem">
        <a mat-list-item routerLink="dashboard" routerLinkActive="mat-router-link-active">
            <mat-icon>pie_chart</mat-icon>
            <span>My Work</span>
        </a>
    </ng-container>

    <!-- do we have hr level links? -->

    <!-- COMPANY ADMIN || SYSTEM ADMIN ONLY -->
    <ng-container *ngIf="user?.role?.role >= roleType.companyAdmin">
        <!-- THIS WHOLE COMPONENT NEEDS TO BE REWORKED AFTER SO MANY SCHEMA CHANGES
        <a mat-list-item routerLink="dashboard" routerLinkActive="mat-router-link-active">
            <mat-icon>pie_chart</mat-icon>
            <span>Analyze</span>
        </a> -->
        
        <mat-accordion mat-list-item class="navigation-accordion">
            <mat-expansion-panel [expanded]="expandImports" (opened)="expandImports=!expandImports;"
                (closed)="expandImports=!expandImports;">
                <mat-expansion-panel-header [class.expanded-menu-item]="expandImports">
                    <mat-panel-title>
                        <mat-icon>import_contacts</mat-icon>
                        <span>Imports</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-nav-list>
                    <a mat-list-item routerLink="imports/models" routerLinkActive="mat-router-link-active">
                        <mat-icon>build</mat-icon>
                        <span>Manage</span>
                    </a>

                    <a mat-list-item routerLink="imports/process" routerLinkActive="mat-router-link-active">
                        <mat-icon>backup</mat-icon>
                        <span>Process</span>
                    </a>
                </mat-nav-list>
            </mat-expansion-panel>
        </mat-accordion>

        <a mat-list-item routerLink="daily-tracker" routerLinkActive="mat-router-link-active">
            <mat-icon>ballot</mat-icon>
            <span>Sales</span>
        </a>
        <a mat-list-item routerLink="client-information" routerLinkActive="mat-router-link-active">
            <mat-icon>business</mat-icon>
            <span>Company</span>
        </a>

        <mat-accordion mat-list-item class="navigation-accordion">
            <mat-expansion-panel [expanded]="expandPayrollLinks" (opened)="expandPayrollLinks=!expandPayrollLinks;"
                (closed)="expandPayrollLinks=!expandPayrollLinks;">
                <mat-expansion-panel-header [class.expanded-menu-item]="expandPayrollLinks">
                    <mat-panel-title>
                        <mat-icon>account_balance</mat-icon>
                        <span>Payroll</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-nav-list>
                    <a mat-list-item routerLink="admin/pay/pay-cycles" routerLinkActive="mat-router-link-active">
                        <mat-icon>assignment</mat-icon>
                        <span>Pay Runs</span>
                    </a>
                    <a mat-list-item routerLink="admin/pay/manage" routerLinkActive="mat-router-link-active">
                        <mat-icon>date_range</mat-icon>
                        <span>Release Pay</span>
                    </a>
                    <a mat-list-item [routerLink]="['admin', 'pay', 'paycheck-list']" routerLinkActive="mat-router-link-active">
                        <mat-icon>local_atm</mat-icon>
                        <span>View Paychecks</span>
                    </a>
                </mat-nav-list>
            </mat-expansion-panel>
        </mat-accordion>
        
        <mat-accordion mat-list-item class="navigation-accordion">
            <mat-expansion-panel [expanded]="expandPeopleLinks" (opened)="expandPeopleLinks=!expandPeopleLinks;" 
                (closed)="expandPeopleLinks=!expandPeopleLinks;">
                <mat-expansion-panel-header [class.expanded-menu-item]="expandPeopleLinks">
                    <mat-panel-title>
                        <mat-icon>{{ expandPeopleLinks ? 'people_outline' : 'group_add' }}</mat-icon>
                        <span>People</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-nav-list>
                    <a mat-list-item routerLink="agents" routerLinkActive="mat-router-link-active">
                        <mat-icon>person</mat-icon>
                        <span>Agents</span>
                    </a>

                    <a mat-list-item [routerLink]="['/contacts']" routerLinkActive="mat-router-link-active">
                        <mat-icon>contacts</mat-icon>
                        <span>Contacts</span>
                    </a>
                </mat-nav-list>
            </mat-expansion-panel>
        </mat-accordion>
        
        <a mat-list-item routerLink="campaigns" routerLinkActive="mat-router-link-active">
            <mat-icon>assignment</mat-icon>
            <span>Campaigns</span>
        </a>
        
        <!-- end of admin links -->
    </ng-container>

    <ng-container *ngIf="user?.role?.role == roleType.manager || user?.role?.role == roleType.regManager">
        <mat-accordion mat-list-item class="navigation-accordion">
            <mat-expansion-panel [expanded]="expandPeopleLinks" (opened)="expandPeopleLinks=!expandPeopleLinks;" 
                (closed)="expandPeopleLinks=!expandPeopleLinks;">
                <mat-expansion-panel-header [class.expanded-menu-item]="expandPeopleLinks">
                    <mat-panel-title>
                        <mat-icon>{{ expandPeopleLinks ? 'people_outline' : 'group_add' }}</mat-icon>
                        <span>People</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-nav-list>
                    <a mat-list-item routerLink="agents" routerLinkActive="mat-router-link-active">
                        <mat-icon>person</mat-icon>
                        <span>Agents</span>
                    </a>

                    <a mat-list-item [routerLink]="['/contacts']" routerLinkActive="mat-router-link-active">
                        <mat-icon>contacts</mat-icon>
                        <span>Contacts</span>
                    </a>
                </mat-nav-list>
            </mat-expansion-panel>
        </mat-accordion>
    </ng-container>

    
</mat-nav-list>