<mat-toolbar color="primary" *ngIf="user != null">
    <mat-toolbar-row>
        <i class="material-icons md-48 mt-3">account_circle</i>
        <span class="fill-remaining-space"></span>
        <button mat-button (click)="toggleSidenav()" class="sidenav-close">
            <i class="material-icons">close</i>
        </button>
    </mat-toolbar-row>
    <mat-toolbar-row class="d-flex flex-column align-items-start mb-2 mt-3">
        {{user.firstName}} {{user.lastName}}
        <small>{{user.email}}</small>
    </mat-toolbar-row>
</mat-toolbar>

<mat-nav-list *ngIf="user != null" #navList>
    <!-- all users -->
    
    <a mat-list-item routerLink="my-information" routerLinkActive="mat-router-link-active">
        <mat-icon>info_outline</mat-icon>
        <span>My Information</span>
    </a>
    <a mat-list-item 
        routerLink="daily-tracker" 
        routerLinkActive="mat-router-link-active"
        *ngIf="user.role.role < roleType.companyAdmin && user.role.isSalesAdmin"
    >
        <mat-icon>ballot</mat-icon>
        <span>Daily Tracker</span>
    </a>

    <!-- agents only -->
    <ng-template *ngIf="user.role.role < roleType.companyAdmin">
        <a mat-list-item routerLink="dashboard" routerLinkActive="mat-router-link-active">
            <mat-icon>pie_chart</mat-icon>
            <span>My Work</span>
        </a>
        <a mat-list-item class="hide">
            <mat-icon>monetization_on</mat-icon>
            <span>My Pay</span>
        </a>
        <a mat-list-item class="hide">
            <mat-icon>library_books</mat-icon>
            <span>My Documents</span>
        </a>
        <a mat-list-item class="hide">
            <mat-icon>chat_bubble</mat-icon>
            <span>Messages</span>
        </a>
    </ng-template>

    <!-- do we have hr level links? -->

    <!-- company admin+ -->
    <ng-container *ngIf="user.role.role >= roleType.companyAdmin">
        <!-- THIS WHOLE COMPONENT NEEDS TO BE REWORKED AFTER SO MANY SCHEMA CHANGES
        <a mat-list-item routerLink="dashboard" routerLinkActive="mat-router-link-active">
            <mat-icon>pie_chart</mat-icon>
            <span>Analyze</span>
        </a> -->
        <a mat-list-item routerLink="daily-tracker" routerLinkActive="mat-router-link-active">
            <mat-icon>ballot</mat-icon>
            <span>Sales</span>
        </a>
        <a mat-list-item routerLink="client-information" routerLinkActive="mat-router-link-active">
            <mat-icon>business</mat-icon>
            <span>Organization</span>
        </a>
        <mat-accordion mat-list-item class="navigation-accordion">
            <mat-expansion-panel [expanded]="expandPayrollLinks">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon>account_balance</mat-icon>
                        <span>Payroll</span>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-nav-list>
                    <a mat-list-item routerLink="admin/pay/pay-cycles" routerLinkActive="mat-router-link-active">
                        <mat-icon>date_range</mat-icon>
                        <span>Payroll Cycles</span>
                    </a>
                    <a mat-list-item routerLink="admin/pay/manage" routerLinkActive="mat-router-link-active">
                        <mat-icon>monetization_on</mat-icon>
                        <span>Manage Pay</span>
                    </a>
                    <a mat-list-item [routerLink]="['admin', 'pay', 'paycheck-list']" routerLinkActive="mat-router-link-active">
                        <mat-icon>assignment</mat-icon>
                        <span>View Paychecks</span>
                    </a>
                </mat-nav-list>
            </mat-expansion-panel>
        </mat-accordion>
        
        <a mat-list-item class="hide">
            <mat-icon>dashboard</mat-icon>
            <span>Blog</span>
        </a>
        <a mat-list-item routerLink="agents" routerLinkActive="mat-router-link-active">
            <mat-icon>person</mat-icon>
            <span>Agents</span>
        </a>
        <a mat-list-item class="hide">
            <mat-icon>monetization_on</mat-icon>
            <span>Pay Status</span>
        </a>
        <!-- <a mat-list-item routerLink="payroll-tools" routerLinkActive="mat-router-link-active">
      <mat-icon>build</mat-icon>
      <span>Payroll Entry</span>
    </a> -->
        <a mat-list-item class="hide">
            <mat-icon>assignment_ind</mat-icon>
            <span>Overrides</span>
        </a>
        <a mat-list-item routerLink="campaigns" routerLinkActive="mat-router-link-active">
            <mat-icon>assignment</mat-icon>
            <span>Campaigns</span>
        </a>
        <a mat-list-item class="hide">
            <mat-icon>library_books</mat-icon>
            <span>Documents</span>
        </a>
        <a mat-list-item class="hide">
            <mat-icon>face</mat-icon>
            <span>Customers</span>
        </a>
        <!-- end of admin links -->
    </ng-container>

    <!-- all users -->
    <a mat-list-item class="hide">
        <mat-icon>info_outline</mat-icon>
        <span>About</span>
    </a>
</mat-nav-list>