@import '../../../scss/colors';
// $mat-primary: #3f51b5 !default;

table {
    width: 100%;
}

tr.detail-row {
    height: 0;
}

tr.element-row:not(.expanded-row):hover {
    background: #f5f5f5;
}

tr.element-row:not(.expanded-row):active {
    background: #efefef;
}

.element-row td {
    border-bottom-width: 0;
}

.element-detail {
    min-height: 48px;
    overflow:hidden;
    display:flex;
}

.expanded {
    background: lighten($mat-primary, 50%);
}

.released {

    td {
        color: $gray-600;
        background-color: $gray-100;
    }
}