<div class="row justify-content-center pt-5">
    <div class="col-md-4" [ngClass]="{'text-center': pageLoading}">
        <div class="card">
            <!-- <img class="card-img-top" src="dist/assets/images/login.png" alt="Login image"> -->
            <img class="card-img-top" src="dist/assets/images/authentication.svg" alt="Login image" />
            <div class="card-body">
                <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate class="login-container">
                    <mat-form-field floatLabel="true" hintLabel="We'll never share your login credentials.">
                        <input matInput name="username" ngModel #username="ngModel" placeholder="username" required
                            [disabled]=lockLoginInputs />
                        <mat-error *ngIf="username.invalid && (username.touched || formSubmitted)">{{getErrorMessage()}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field floatLabel="password">
                        <input matInput name="password" ngModel #password="ngModel" placeholder="password" required
                            type="password" [disabled]=lockLoginInputs />
                        <mat-error *ngIf="password.invalid && (password.touched || formSubmitted)">{{getErrorMessage()}}
                        </mat-error>
                    </mat-form-field>
                    <button mat-flat-button color="primary" [disabled]=lockLoginInputs>Login</button>
                    <div class="pt-3 d-flex justify-content-center">
                        <a [routerLink]="['..', 'forgot-password']" class="text-decoration-none font-sm text-muted">Trouble signing in?</a>
                    </div>
                </form>
                <mat-progress-bar *ngIf="lockLoginInputs" mode="indeterminate"></mat-progress-bar>
            </div>
        </div>
    </div>
</div>